<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol> // nb server
      <customHeaders>
        <remove name="X-Frame-Options" />
        <remove name="Content-Security-Policy"/>

        <!-- <add name="X-Frame-Options" value="ALLOW-FROM www.outer.com:8126" /> -->
		<!-- Invalid 'X-Frame-Options' header encountered when loading 'http://www.inner.com:8125/': 'ALLOW-FROM www.outer.com:8126' is not a recognized directive. The header will be ignored. -->

		<!-- works -->
        <!-- <add name="Content-Security-Policy" value="frame-ancestors http://www.outer.com:8126;"/> -->

		<!-- works -->
        <!-- <add name="Content-Security-Policy" value="frame-ancestors www.outer.com:8126;"/> -->

		<!-- not works -->
        <!-- <add name="Content-Security-Policy" value="frame-ancestors www.outer.com;"/> -->

		<!-- works -->
        <!-- <add name="Content-Security-Policy" value="frame-ancestors www.outer.com:*;"/> -->

		<!-- works -->
        <!-- <add name="Content-Security-Policy" value="frame-ancestors *.outer.com:*;"/> -->

		<!-- works -->
        <!-- <add name="Content-Security-Policy" value="frame-ancestors http://www.outer.com:*;"/> -->

		<!-- not works -->
        <!-- <add name="Content-Security-Policy" value="frame-ancestors *://www.outer.com:*;"/> -->

		<!-- works -->
        <!-- <add name="Content-Security-Policy" value="frame-ancestors http://*.outer.com:*;"/> -->

		<!-- works -->
        <!-- <add name="Content-Security-Policy" value="frame-ancestors 'self' http://www.outer.com:8126;"/> -->

		<!-- not works -->
        <!-- <add name="Content-Security-Policy" value="frame-ancestors 'self'"/> -->

        <add name="Content-Security-Policy" value="frame-ancestors http://www.outer.com:8126;"/>

      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
