<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol> // nb server
      <customHeaders>
        <remove name="Content-Security-Policy"/>

        <!-- not works -->
        <!-- <add name="Content-Security-Policy" value="child-src 'self'"/> -->

        <!-- works -->
        <!-- <add name="Content-Security-Policy" value="child-src http://www.inner.com:8125"/> -->

        <!-- works -->
        <!-- <add name="Content-Security-Policy" value="child-src www.inner.com:8125"/> -->

        <!-- works -->
        <!-- <add name="Content-Security-Policy" value="child-src www.inner.com:*"/> -->

        <!-- works -->
        <!-- <add name="Content-Security-Policy" value="child-src *.inner.com:*"/> -->

        <add name="Content-Security-Policy" value="child-src http://www.inner.com:8125"/>

      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
