<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol> // nb server
      <customHeaders>
        <remove name="Content-Security-Policy" />

        <!-- not works -->
        <!-- <add name="Content-Security-Policy" value="child-src 'self'"/> -->

        <!-- works -->
        <!-- <add name="Content-Security-Policy" value="child-src http://www.inner.com:8125"/> -->

        <!-- works -->
        <!-- <add name="Content-Security-Policy" value="child-src www.inner.com:8125"/> -->

        <!-- works -->
        <!-- <add name="Content-Security-Policy" value="child-src www.inner.com:*"/> -->

        <!-- works -->
        <!-- <add name="Content-Security-Policy" value="child-src *.inner.com:*"/> -->

        <!--
          works if      <iframe src="http://www.inner.com:8125/index.html"></iframe>
          not works if  <iframe src="http://www.inner.com:8125"></iframe>
        -->
        <!-- <add name="Content-Security-Policy" value="child-src http://www.inner.com:8125/index.html"/> -->

        <!-- not works -->
        <!-- <add name="Content-Security-Policy" value="child-src http://www.inner.com:8125/*.html"/> -->

        <!-- not works -->
        <!-- <add name="Content-Security-Policy" value="child-src http://www.inner.com:8125/*"/> -->

        <add name="Content-Security-Policy" value="child-src http://www.inner.com:8125 https://10.10.0.20;"/>

      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
